<div class="register">
    <div class="row" style="width: 100%;">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>We hope you enjoy our championship</p>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h2 #target class="register-heading">confirm registration</h2>
                    
                    <form class="row register-form" #confirmMail = "ngForm">

                      <div class="finish" [ngStyle]="{'color': finish == 'your registration in free ads done' ? 'green' : ((finish =='click on confirm buttom to complete register' || finish == 'Please wait') ? 'black' : 'red') }">{{finish}}</div>
                      <div style="width: 100%;text-align: center;margin-bottom: 15px;" *ngIf="confirmType">note: you can get the confirmation code from the inbox in your gmail account</div>
                        <div class="col-md-12">
                            <div class="form-group">
                              <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label >Confirmation Code</mat-label>
                                  <input 
                                    matInput
                                    pattern="[0-9]{5}"
                                    type="text"
                                    name="confirmMail"
                                    required
                                    ngModel 
                                    #confirm = "ngModel" 
                                    [disabled]="!confirmType"
                                    placeholder="Ex. 00000">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-error *ngIf="confirm.invalid && confirm.touched && confirm.value.length != 0">
                                      Please enter a valid confirmation code
                                    </mat-error>
                                    <mat-error *ngIf="confirm.invalid && confirm.touched && confirm.value.length == 0">
                                        confirmation code is <strong>required</strong>
                                    </mat-error>
                            </mat-form-field>
                            </div>
                            <button mat-raised-button color="primary" class="btnRegister" (click) = "Confirm(confirmMail , target)" [disabled]="confirmMail.invalid || !confirmType">Confirm</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

</div>
