<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" style="height: 50px;z-index: 2;">
    <div class="container" style="max-width: 90%;position:fixed;top: 3px;">
        <strong class="navbar-brand">
          <strong class="navbar-brand" style="font-family: 'Comic Sans MS', cursive ,'Lucida Sans Unicode';">
            <span style="color: #f26d21;">pubg </span>
            <span style="color: #edc944;">to </span>
            <span style="color: #A3b86c;">gain</span> 
          </strong>
          <mat-icon matSuffix style="vertical-align: middle;color:rgb(213, 213, 228);">sentiment_very_satisfied</mat-icon>
        </strong>

  
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="maxopacity" mat-stroked-button [routerLink]="['/home']"  style="text-decoration: none;color: rosybrown;width: 100%;text-align: left;">Home</a>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle maxopacity" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" mat-stroked-button style="text-decoration: none;color: rosybrown;width: 100%;text-align: left;"> <span class="nav-label">Solo Pubg</span> <span class="caret" style="margin-left: 5px;"></span></a>
            <ul class="dropdown-menu" style="background-color: rgba(0,0,0,.5);">
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/register/solopubg']">Register</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/playerdate/solopubg']">Split Players</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/hacker/solopubg']">Winners And Hackers</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/register/freeadsolopubg']">Free Ads</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle maxopacity" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" mat-stroked-button style="text-decoration: none;color: rosybrown;width: 100%;text-align: left;"> <span class="nav-label">Duo Pubg</span> <span class="caret" style="margin-left: 5px;"></span></a>
            <ul class="dropdown-menu" style="background-color: rgba(0,0,0,.5);">
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/register/duopubgteamleader']">Register As Team Leader</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/register/duopubgmember']">Register As Member</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/playerdate/duopubg']">Split Players</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/hacker/duopubg']">Winners And Hackers</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/register/freeadduopubg']">Free Ads</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle maxopacity" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" mat-stroked-button style="text-decoration: none;color: rosybrown;width: 100%;text-align: left;"> <span class="nav-label">Squad Pubg</span> <span class="caret" style="margin-left: 5px;"></span></a>
            <ul class="dropdown-menu" style="background-color: rgba(0, 0, 0, 0.5);">
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/register/Squadpubgteamleader']">Register As Team Leader</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/register/Squadpubgmember']">Register As Member</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/playerdate/Squadpubg']">Split Players</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/hacker/Squadpubg']">Winners And Hackers</a></li>
              <li><a mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/register/freeadsquadpubg']">Free Ads</a></li>
            </ul>
          </li>

          <li class="nav-item active">
            <a class="maxopacity" mat-stroked-button style="color: rosybrown;text-decoration: none;width: 100%;text-align: left;" [routerLink]="['/register/paidad']">Paid Ads</a>
          </li>
        </ul>
  
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a *ngIf="!userIsAutheticated" class="maxopacity" mat-stroked-button href="/auth/loginadmin" color="warn" style="text-decoration: none;width: 100%;text-align: left;">Log In For Admin</a>
            <button *ngIf="userIsAutheticated" class="maxopacity" mat-stroked-button (click)="logout()" color="warn" style="width: 100%;text-align: left;">Log Out</button>
          </li>
        </ul>
        
      </div>
  
    </div>
  </nav>

  <!-- Navbar -->
  
  <!--Carousel Wrapper-->
  <div style="background-color: rgb(47, 80, 180);height: 50px ;width: 100%;;text-align: center;">
    
  </div>

  <div class="textconatiner">
    <div class="text-effect">
      <!-- Select the text in the preview and type in your own -->
      <h3 class="neon" data-text="welcome" contenteditable>welcome</h3>
      <div class="gradient"></div>
      <div class="spotlight"></div>
    </div>
  </div>