html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
	height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
	height: 100vh;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
		.navbar:not(.top-nav-collapse) {
			background: rgba(0, 0, 0, 0.5)!important;
		}
  }

.view,body,html{height:100%}@media (max-width:740px){.full-page-intro{height:1000px}}.carousel{height:50%}.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}@media (max-width:776px){.carousel{height:100%}}.navbar{background-color:rgba(0,0,0,.5)}.page-footer,.top-nav-collapse{background-color:rgba(0,0,0,.5)}@media only screen and (max-width:768px){.navbar{background-color:rgba(0,0,0,.5)}}
div ul li {
  margin-left: 10px;
}
@media (max-width: 991px){
  .maxopacity{
    background: rgba(0, 0, 0, 0.5);
  }
  .dropdown-menu{
    margin-left: 16px;
  }
}

/*text*/
.text-effect {
  overflow: hidden;
  position: relative;
  filter: contrast(110%) brightness(190%);
  height: 100px;
}

.neon {
  position: relative;
  background: black;
  color: transparent;
}
.neon::before, .neon::after {
  content: attr(data-text);
  color: white;
  filter: blur(0.02em);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.neon::after {
  mix-blend-mode: difference;
}

.gradient,
.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}

.gradient {
  background: linear-gradient(45deg, red, blue);
  mix-blend-mode: multiply;
}

.spotlight {
  -webkit-animation: light 5s infinite linear;
          animation: light 5s infinite linear;
  background: radial-gradient(circle, white, transparent 25%) 0 0/25% 25%, radial-gradient(circle, white, black 25%) 50% 50%/12.5% 12.5%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge;
}

@-webkit-keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
.neon {
  font: 500 75px "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 12px 0;
}
.neon:focus {
  outline: none;
  border: 1px dotted white;
}
.textconatiner{
  background: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}