<div class="spinner-container" *ngIf="getDataOnServer == true ; else elseBlockContainer">
    <div>
        <div class="up-spinner">loading will take a few seconds</div>
        <div class="spinner">
            <span class="spinner-ball"></span>
        </div>
    </div>
</div>

<ng-template #elseBlockContainer>
    <div class="register">
        <div class="row" style="width: 100%;">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Welcome</h3>
                <p>We hope you enjoy our championship</p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h2 class="register-heading">register team leader in squad pubg championShip</h2>
                        
                        <form class="row register-form" #personForm = "ngForm">
                        
                            <div style="width: 100%;text-align: center;font-size: large;margin-bottom: 15px;">{{upVideo}}</div>
                            <div 
                                class="container" 
                                style="margin: auto ;" 
                                [ngClass]="{'stickyVideo': videoFinish == false, 'relativeVideo': videoFinish == true}"
                                fxLayout
                                fxLayout.xs="column"
                                fxLayoutAlign="center"
                                fxLayoutGap="10px"
                                fxLayoutGap.xs="0">
                                <div fxFlex="100%" id="squadplayer" style="width: 100%;background-color: black;">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>gmail account</mat-label>
                                        <input matInput 
                                            required
                                            email
                                            type="email" 
                                            name="Email"
                                            ngModel 
                                            pattern="^[a-zA-Z0-9.]+@gmail.com$"
                                            #myEmail = "ngModel"
                                            placeholder="Ex. test@gmail.com"
                                            [disabled]="!register"
                                            maxlength="50">
                                            <mat-error *ngIf="myEmail.invalid && myEmail.touched && myEmail.value.length != 0 && gmailAccountType == true && errorServerGmailAccountType == false">
                                                Please enter a valid email address
                                            </mat-error>
                                            <mat-error *ngIf="myEmail.invalid && myEmail.touched && myEmail.value.length == 0">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="myEmail.invalid && myEmail.touched && gmailAccountType==false && myEmail.value.length != 0 && errorServerGmailAccountType == false">
                                                The email address already exists, please choose another email
                                            </mat-error>
                                            <mat-error *ngIf="myEmail.invalid && myEmail.touched && myEmail.value.length != 0 && errorServerGmailAccountType == true">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>                                                    
                                </div>
                            
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>your id account in pubg</mat-label>
                                        <input matInput
                                            pattern="^[0-9]+$"
                                            minlength="7"
                                            maxlength="15"
                                            type="text"
                                            name="Idpubg"
                                            required
                                            ngModel 
                                            #myId = "ngModel"
                                            placeholder="Ex. Nine or ten numbers"
                                            [disabled]="!register">
                                            <mat-error *ngIf="myId.invalid && myId.touched && myId.value.length != 0 && idPubgType == true && errorServerIdPubgType == false">
                                                Please enter a valid Id pubg
                                            </mat-error>
                                            <mat-error *ngIf="myId.invalid && myId.touched && myId.value.length == 0">
                                                Id pubg is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="myId.invalid && myId.touched &&  idPubgType == false && myId.value.length != 0 && errorServerIdPubgType == false">
                                                The Id pubg already exists, please choose another Id
                                            </mat-error>
                                            <mat-error *ngIf="myId.invalid && myId.touched && myId.value.length != 0 && errorServerIdPubgType == true">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>your first friend id pubg</mat-label>
                                        <input matInput
                                            pattern="^[0-9]+$"
                                            minlength="7"
                                            maxlength="15"
                                            type="text"
                                            name="firstMemberIdpubg"
                                            required
                                            ngModel
                                            #firstMemberId = "ngModel"
                                            placeholder="Ex. Nine or ten numbers"
                                            [disabled]="!register">
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched && firstMemberId.value.length != 0 && firstMemberIdPubgType == false && errorServerFirstMemberIdPubgType == false &&  firstMemberBlackList == false">
                                                Please enter a valid Id pubg
                                            </mat-error>
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched && firstMemberId.value.length == 0">
                                                Id pubg is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched &&  firstMemberIdPubgType == true && firstMemberId.value.length != 0 && errorServerFirstMemberIdPubgType == false &&  firstMemberBlackList == false">
                                                This id must not be the same with team leader id or team member id
                                            </mat-error>
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched &&  firstMemberBlackList == true">
                                                This account has been stopped because of the hacker
                                            </mat-error>
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched && firstMemberId.value.length != 0 && errorServerFirstMemberIdPubgType == true &&  firstMemberBlackList == false">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>your second friend id pubg</mat-label>
                                        <input matInput
                                            pattern="^[0-9]+$"
                                            minlength="7"
                                            maxlength="15"
                                            type="text"
                                            name="secondMemberIdpubg"
                                            required
                                            ngModel
                                            #secondMemberId = "ngModel"
                                            placeholder="Ex. Nine or ten numbers"
                                            [disabled]="!register">
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched && secondMemberId.value.length != 0 && secondMemberIdPubgType == false && errorServerSecondMemberIdPubgType == false &&  secondMemberBlackList == false">
                                                Please enter a valid Id pubg
                                            </mat-error>
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched && secondMemberId.value.length == 0">
                                                Id pubg is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched &&  secondMemberIdPubgType == true && secondMemberId.value.length != 0 && errorServerSecondMemberIdPubgType == false &&  secondMemberBlackList == false">
                                                This id must not be the same with team leader id or team member id
                                            </mat-error>
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched &&  secondMemberBlackList == true">
                                                This account has been stopped because of the hacker
                                            </mat-error>
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched && secondMemberId.value.length != 0 && errorServerSecondMemberIdPubgType == true &&  secondMemberBlackList == false">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>your third friend id pubg</mat-label>
                                        <input matInput
                                            pattern="^[0-9]+$"
                                            minlength="7"
                                            maxlength="15"
                                            type="text"
                                            name="thirdMemberIdpubg"
                                            required
                                            ngModel
                                            #thirdMemberId = "ngModel"
                                            placeholder="Ex. Nine or ten numbers"
                                            [disabled]="!register">
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched && thirdMemberId.value.length != 0 && thirdMemberIdPubgType == false && errorServerThirdMemberIdPubgType == false &&  thirdMemberBlackList == false">
                                                Please enter a valid Id pubg
                                            </mat-error>
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched && thirdMemberId.value.length == 0">
                                                Id pubg is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched &&  thirdMemberIdPubgType == true && thirdMemberId.value.length != 0 && errorServerThirdMemberIdPubgType == false &&  thirdMemberBlackList == false">
                                                This id must not be the same with team leader id or team member id
                                            </mat-error>
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched &&  thirdMemberBlackList == true">
                                                This account has been stopped because of the hacker
                                            </mat-error>
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched && thirdMemberId.value.length != 0 && errorServerThirdMemberIdPubgType == true &&  thirdMemberBlackList == false">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group" *ngIf="phonePlayer == true">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>your phone number</mat-label>
                                        <input matInput
                                            pattern="^[0-9]{11}$"
                                            type="text"
                                            name="phone"
                                            required
                                            ngModel 
                                            #playerPhone = "ngModel"
                                            placeholder="Ex. eleven number"
                                            [disabled]="!register">
                                            <mat-error *ngIf="playerPhone.invalid && playerPhone.touched && playerPhone.value.length != 0 && phoneType == true && errorServerPhoneType == false">
                                                Please enter a valid phone number
                                            </mat-error>
                                            <mat-error *ngIf="playerPhone.invalid && playerPhone.touched && playerPhone.value.length == 0">
                                                phone number is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="playerPhone.invalid && playerPhone.touched &&  phoneType == false && myId.value.length != 0 && errorServerPhoneType == false">
                                                The phone number already exists, please choose another phone number
                                            </mat-error>
                                            <mat-error *ngIf="playerPhone.invalid && playerPhone.touched && playerPhone.value.length != 0 && errorServerPhoneType == true">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <h3 *ngIf="register == true" >note : click on the register button after video is finished</h3>
                                <button mat-raised-button color="primary" class="btnRegister" (click) = "addPerson(personForm)" [disabled]="personForm.invalid || !videoFinish || !register || disableButton">{{registerState}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>
