<div class="textconatiner">
  <div class="text-effect">
    <!-- Select the text in the preview and type in your own -->
    <h3 class="neon" data-text="enjoy" contenteditable>enjoy</h3>
    <div class="gradient"></div>
    <div class="spotlight"></div>
  </div>
</div>
<div class="footer" style="background-color: rgb(47, 80, 180);">
  <ul class="social-network social-circle">
    <li><a class="icoTwitter" target="_blank" href="https://twitter.com/gain_pubg" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a class="icoFacebook" target="_blank" href="https://www.facebook.com/Pubg-to-gain-103211138435689" title="Facebook"><i class="fa fa-facebook"></i></a></li>
  </ul>
</div>
 